In [11]:
import pandas as pd

tabela = pd.read_csv('Downloads/wine_dataset (2).csv')

tabela.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [12]:
tabela['style'] = tabela['style'].replace('red', 0)
tabela['style'] = tabela['style'].replace('white',1)

In [13]:
y = tabela['style']
x = tabela.drop('style', axis =1)

In [14]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [15]:
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

In [16]:
resultado = modelo.score(x_teste, y_teste)
print("Acurácia", resultado)

Acurácia 0.9948717948717949

In [17]:
y_teste[110:135]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11488\2500489346.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_teste[110:135]

2132    1
2294    1
1132    0
2541    1
4674    1
4498    1
3571    1
21      0
1414    0
6132    1
1059    0
6421    1
1277    0
46      0
6107    1
4355    1
2699    1
160     0
6145    1
3825    1
2920    1
549     0
2950    1
4386    1
3436    1
Name: style, dtype: int64

In [18]:
previsoes = modelo.predict(x_teste[100:135])
print(previsoes)

[1 0 0 1 1 0 1 1 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 1 1 0 1 1 1 0 1 1 1]